body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color:#fff;
}
.heading{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.container{
    padding: 3% 15% 7%;

    
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}
.nav-item{
    padding:0 18px ;
}
.nav-link{
 font-size: 1.5rem; 
 font-family: 'Montserrat', sans-serif;
 font-weight: 300; 
}


/* download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
   width: 60%;
   transform: rotate(25deg);
   position: absolute;
   right: 30%;
}
h3{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 300;
    
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position:relative;
    z-index: 1;

}
.feature-box{
    text-align: center  ;
    padding:5%;
}
p{
    color: grey ;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
    
}
#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}
h2{
    font-family: "montserrat";
    font-size: 3rem;
    line-height: 1.5;
}
.dog{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 10%;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
    
}
#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
    
}
.black{
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer{
    padding: 7% 16%;
    text-align: center;
}
.social{
    margin: 20px 10px;
}

/* media is used to give condition while coming from pc to mobile*/


@media (max-width:1000px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}